<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="analyzers" value="[
         &quot;Microsoft.CodeAnalysis.Analyzers&quot;,
         &quot;Microsoft.CodeAnalysis.CSharp&quot;,
         &quot;Microsoft.CodeAnalysis.CSharp.Analyzers&quot;,
         &quot;Microsoft.CodeQuality.Analyzers&quot;,
         &quot;Microsoft.CodeQuality.CSharp.Analyzers&quot;,
         &quot;Microsoft.NetCore.Analyzers&quot;,
         &quot;Microsoft.NetCore.CSharp.Analyzers&quot;,
         &quot;Microsoft.NetFramework.Analyzers&quot;,
         &quot;Microsoft.NetFramework.CSharp.Analyzers&quot;,
         ]"/>
  </appSettings>
</configuration>
