<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="analyzers" value='[
         "Microsoft.CodeAnalysis.Analyzers",
         "Microsoft.CodeAnalysis.CSharp",
         "Microsoft.CodeAnalysis.CSharp.Analyzers",
         "Microsoft.CodeQuality.Analyzers",
         "Microsoft.CodeQuality.CSharp.Analyzers",
         "Microsoft.NetCore.Analyzers",
         "Microsoft.NetCore.CSharp.Analyzers",
         "Microsoft.NetFramework.Analyzers",
         "Microsoft.NetFramework.CSharp.Analyzers",
         ]'/>
  </appSettings>
</configuration>